swiper,
view,
text {
  line-height: 1;
  box-sizing: border-box;
  font-size: 30upx;
  color: #333;
  word-break: break-all;
}
rich-text {
  line-height: 1.8;
}
textarea,
input {
  box-sizing: border-box;
  font-size: 30upx;
  color: #333;
  line-height: 1;
}
navigator {
  box-sizing: border-box;
}
checkbox {
  transform: scale(0.8);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
image {
  vertical-align: top;
}
uni-page-refresh,
.uni-page-refresh {
  top: calc(45upx + 90upx);
}
.font {
  font-family: 'din';
}
@font-face {
  font-family: 'iconfont';  /* project id 2072018 */
  src: url('//at.alicdn.com/t/font_2072018_8bxirsdnly7.eot');
  src: url('//at.alicdn.com/t/font_2072018_8bxirsdnly7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2072018_8bxirsdnly7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2072018_8bxirsdnly7.woff') format('woff'),
  url('//at.alicdn.com/t/font_2072018_8bxirsdnly7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2072018_8bxirsdnly7.svg#iconfont') format('svg');
}
.clearfix::before,
.clearfix::after{
	content: '';
	display: table;
	clear: both;
}
